<button class="menu-toggle"><svg width="20" height="20"><use href="/img/sprite.svg#icon-menu"></use></svg></button>
<aside class="sidebar">
  <button class="logo"><a href="#">MyDash</a></button>
  <nav>
    <a href="#" data-page="dashboard" class="active">Dashboard</a>
    <a href="#" data-page="analytics">Analytics</a>
    <a href="#" data-page="users">Users</a>
    <a href="#" data-page="sales">Sales</a>
    <a href="#" data-page="settings">Settings</a>
  </nav>
  <button class="toggle-theme" type="button">Dark mode</button>
</aside>
<div class="overlay"></div>
