<header class="top-bar">
    <div class="input-container">
        <svg class="input-search-icon" width="14" height="14"><use href="../public/sprite.svg#icon-search"></use></svg>
        <input type="text" placeholder="Search...">
    </div>
    <ul class="top-icons-list">
        <li class="top-icon">
            <button>
                <svg class="icon-bell" width="24" height="24">
                    <use href="../public/sprite.svg#icon-bell"></use>
                </svg>
            </button>
        </li>
        <li class="top-icon">
            <button>
                <svg class="icon-key" width="24" height="24">
                    <use href="../public/sprite.svg#icon-key"></use>
                </svg>
            </button>
        </li>
        <li class="top-icon">
            <button>
                <svg class="icon-avatar" width="24" height="24">
                    <use href="../public/sprite.svg#icon-user"></use>
                </svg>
            </button>
        </li>
    </ul>
</header>