/* MOBILE */
.sidebar {
  box-sizing: border-box;
  width: 200px;
  background: var(--sidebar);
  height: 100%;
  padding: 20px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: fixed;
  top: 0;
  left: -250px;
  z-index: 1000;
  transition: left 250ms ease-in-out;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 900;
  display: none;
}

.sidebar.active + .overlay {
  display: block;
}

.sidebar.active {
  left: 0;
}

.menu-toggle {
  display: flex;  
  align-items: center;
  justify-content: center;  
  position: fixed;
  top: 10px;
  left: 20px;
  width: 40px;
  height: 40px;
  font-size: 24px;
  background: none;
  border: none;
  z-index: 1100;
  fill: var(--accent);
}

.menu-toggle svg {
  pointer-events: none;
}

.sidebar .logo {
  background-color: transparent;
  border: none;
  font-size: 18px;
  font-weight: 700;
  color: var(--text);
  font-family: inherit;
}

.sidebar nav a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: var(--text);
  border-radius: 6px;
}

.sidebar nav a.active,
.sidebar nav a:hover {
  background: var(--accent);
  color: white;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.toggle-theme {
  width: 100px;
  margin: 0 auto;
  margin-top: auto;
  margin-bottom: 40px;
  padding: 8px;
  border: none;
  background: var(--accent);
  color: var(--text);
  border-radius: 6px;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .sidebar {
    width: 230px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    top: 0;
    left: 0;
  }

  .sidebar .logo {
    font-size: 22px;
  }

  .menu-toggle {
    display: none;
    visibility: hidden
  }

    .toggle-theme {
      width: 150px;
    }

    nav {
      gap: 10px;
    }
}