.top-bar {
    position: absolute;
    top: 0;
    left: 230px;
    right: 0;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.top-bar input {
    padding: 8px;
    padding-left: 30px;
    width: 250px;
    background-color: var(--bg);
    border: none;
    border-radius: 4px;
}

.input-container {
    position: relative;
}

.input-search-icon {
    position: absolute;
    top: 8px;
    left: 14px;
}