.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
        left: 230px;
        /* зсунули на ширину sidebar */
        right: 0;
}

.top-bar input {
    padding: 8px;
    width: 250px;
}