/* MOBILE */
.top-bar {
    position: absolute;
    top: 10px;
    left: 50px;
    right: 0;
    height: 50px;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0 20px;
}

.input-container input {
    padding: 8px;
    padding-left: 36px;
    width: 150px;
    font-size: 14px;
    background-color: var(--bg);
    color: var(--text);
    border: 1px solid var(--accent);
    border-radius: 4px;
    transition: background-color 350ms ease-in-out, color 350ms ease-in-out;
}

.input-container {
    position: relative;
}

.input-container:hover input,
.input-container:focus-within input {
    background-color: var(--accent);
    color: var(--text);
    outline: none;
}

.input-container:hover input::placeholder,
.input-container:focus-within input::placeholder {
    color: var(--text);
}

.input-search-icon {
    position: absolute;
    top: 10px;
    left: 14px;
}

/* top icons */

.top-icons-list {
    display: flex;
    gap: 5px;
}

.top-icon button {
    position: relative;
    padding: 5px 8px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: transparent;
    transition: border 350ms ease-in-out, fill 350ms ease-in-out, box-shadow 350ms ease-in-out;
}

.top-icon button:hover,
.top-icon button:focus {
    fill: var(--accent);
}

.top-icon button::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: center;
    background-color: var(--accent);
    transition: transform 350ms ease-in-out, fill 350ms ease-in-out;
}

.top-icon button:hover::after {
    transform: scaleX(1);
}

@media only screen and (min-width: 768px) {
    .top-bar {
        top: 15px;
        left: 230px;
        height: 60px;
        justify-content: space-between;
    }
    .input-container input {
        width: 300px;
        font-size: 16px;
    }

    /* top icons */
    
    .top-icons-list {
        gap: 13px;
    }
    .top-icon button {
        padding: 5px 8px;
    }
    .top-icon button svg {
        width: 24px;
        height: 24px;
    }
}

@media only screen and (min-width: 1200px) {
    .input-container input {
        width: 450px;
    }
}