/* MOBILE */
.top-bar {
    position: absolute;
    top: 15px;
    left: 200px;
    right: 0;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.input-container input {
    padding: 8px;
    padding-left: 36px;
    width: 250px;
    font-size: 16px;
    background-color: var(--bg);
    color: var(--text);
    border: 1px solid var(--accent);
    border-radius: 4px;
    transition: background-color 350ms ease-in-out, color 350ms ease-in-out;
}

.input-container {
    position: relative;
}

.input-container:hover input,
.input-container:focus-within input {
    background-color: var(--accent);
    color: var(--text);
    outline: none;
}

.input-container:hover input::placeholder,
.input-container:focus-within input::placeholder {
    color: var(--text);
}

.input-search-icon {
    position: absolute;
    top: 10px;
    left: 14px;
}

/* top icons */

.top-icons-list {
    display: flex;
    gap: 13px;
}

.top-icon button {
    position: relative;
    padding: 5px 8px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: transparent;
    transition: border 350ms ease-in-out, fill 350ms ease-in-out, box-shadow 350ms ease-in-out;
}

.top-icon button:hover,
.top-icon button:focus {
    fill: var(--accent);
}

.top-icon button::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: center;
    background-color: var(--accent);
    transition: transform 350ms ease-in-out, fill 350ms ease-in-out;
}

.top-icon button:hover::after {
    transform: scaleX(1);
}

@media only screen and (min-width: 768px) {
    .top-bar {
        left: 230px;
        height: 60px;
    }
    .input-container input {
        padding: 8px;
        padding-left: 36px;
        width: 450px;
        font-size: 16px;
        background-color: var(--bg);
        color: var(--text);
        border: 1px solid var(--accent);
        border-radius: 4px;
        transition: background-color 350ms ease-in-out, color 350ms ease-in-out;
    }
}
